<div class="container">
    <br />
    <div class="card">
        <div class="card-header text-black white-secondary">Déclarer un problème</div>
        <div class="card-body">
            <h5 class="card-title">Veuillez renseigner les zones suivantes et soumettre votre demande</h5>
            <div class="card-text">
                <form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="problemForm">

                    <div class="row mb-3">
                        <label for="inputPrenom3" class="col-sm-2 col-form-label">Prénom :</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="prenomId" type="text"
                                placeholder="Votre prénom ici (obligatoire)" formControlName="prenom" [ngClass]="{'is-valid': (problemForm.get('prenom').touched || 
            problemForm.get('prenom').dirty) &&
            (problemForm.get('prenom').valid),
            'is-invalid': (problemForm.get('prenom').touched || 
            problemForm.get('prenom').dirty) &&
            (!problemForm.get('prenom').valid )}" />
                            <span *ngIf="(problemForm.get('prenom').touched) ||
                        problemForm.get('prenom').dirty &&
                        problemForm.get('prenom').errors">
                                <span *ngIf="problemForm.get('prenom').invalid">
                                    <small class="text-muted">
                                        Veuillez entrer au moins 3 caractères.
                                    </small>
                                </span>
                                <span *ngIf="problemForm.get('prenom').errors.required">
                                    <small class="text-muted">
                                        Merci d'entrer votre prénom.
                                    </small>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputNom3" class="col-sm-2 col-form-label">Nom :</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="nomId" type="text" placeholder="Votre nom ici (obligatoire)"
                                formControlName="nom" [ngClass]="{'is-valid': (problemForm.get('nom').touched || 
                    problemForm.get('nom').dirty) &&
                    (problemForm.get('nom').valid),
                    'is-invalid': (problemForm.get('nom').touched || 
                    problemForm.get('nom').dirty) &&
                    (!problemForm.get('nom').valid )}" />
                            <span *ngIf="(problemForm.get('nom').touched) ||
                                problemForm.get('nom').dirty &&
                                problemForm.get('nom').errors">
                                <span *ngIf="problemForm.get('nom').errors.maxlength">
                                    <small class="text-muted">
                                        Veuillez entrer moins de 50 caractères.
                                    </small>
                                </span>
                                <span *ngIf="problemForm.get('nom').errors.required">
                                    <small class="text-muted">
                                        Merci d'entrer votre nom.
                                    </small>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="noCategorieId" class="col-sm-2 col-form-label">Types de Problème : </label>
                        <div class="col-sm-10">
                            <select class="form-control" id="noCategorieId" formControlName="typeDeProbleme" [ngClass]="{'is-valid': (problemForm.get('typeDeProbleme').touched || problemForm.get('typeDeProbleme').dirty) &&
                                problemForm.get('typeDeProbleme').valid, 
                                'is-invalid': (problemForm.get('typeDeProbleme').touched || problemForm.get('typeDeProbleme').dirty) &&
                                !problemForm.get('typeDeProbleme').valid }">
                                <option value="">Sélectionner un type de problème</option>
                                <option *ngFor="let cat of categoriesProblemes" [value]="cat.id">
                                    {{cat.descriptionProbleme}}</option>
                            </select>
                            <span *ngIf="(problemForm.get('typeDeProbleme').touched) ||
                                problemForm.get('typeDeProbleme').dirty &&
                                problemForm.get('typeDeProbleme').errors">
                                <span *ngIf="problemForm.get('typeDeProbleme').errors?.required">
                                    <small class="text-muted">
                                        Veuillez entrer un type de problème.
                                    </small>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="Form-group row">
                        <div class="col-md-2"></div>
                        <label for="choixId" class="col-md-10 col-form-label">Notifiez moi pour le status de ma
                            demande:</label>
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <label class="radio-inline">
                                <input type="radio" value="NePasNotifier" id="choixId" formControlName="choix">&nbsp;Ne
                                pas Me Notifier
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" value="telephone" id="choixId" formControlName="choix">&nbsp;Par
                                message texte
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" value="email" id="choixId" formControlName="choix">&nbsp;Par
                                courriel
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telephoneId" class="col-sm-2 col-form-label">Téléphone (SMS) :</label>
                        <div class="col-md-10">
                            <input class="form-control" id="telephoneId" type="text"
                                placeholder="Entrez 10 chiffres seulement. Par exemple 5141118888"
                                formControlName="telephone" [ngClass]="{'is-valid': (problemForm.get('telephone').touched ||
                        problemForm.get('telephone').dirty) &&
                        problemForm.get('telephone').valid , 'is-invalid': (problemForm.get('telephone').touched ||
                        problemForm.get('telephone').dirty) &&
                        !problemForm.get('telephone').valid }" />
                            <span class="form-text" *ngIf="(problemForm.get('telephone').touched ||
                        problemForm.get('telephone').dirty) &&
                        (problemForm.get('telephone').errors ||
                        problemForm.get('telephone').errors)">
                                <span *ngIf="problemForm.get('telephone').errors?.required">
                                    <small class="text-muted">
                                        Merci de saisir votre numéro de téléphone.
                                    </small>
                                </span>
                                <span *ngIf="problemForm.get('telephone').errors?.minlength">
                                    <small class="text-muted">
                                        Veuillez entrer plus de caractères.
                                    </small>
                                </span>
                                <span *ngIf="problemForm.get('telephone').errors?.maxlength">
                                    <small class="text-muted">
                                        Veuillez entrer moins de caractères.
                                    </small>
                                </span>
                                <span *ngIf="problemForm.get('telephone').errors?.pattern">
                                    <small class="text-muted">
                                        Merci d'entrer seulement des chiffres.
                                    </small>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="courrielId" class="col-sm-2 col-form-label">Adresse courriel :</label>
                        <div class="col-md-10" formGroupName="courrielGroup">
                            <input class="form-control" id="courrielId" type="email"
                                placeholder="Courriel (obligatoire si notification par courriel)"
                                formControlName="courriel" [ngClass]="{'is-valid': (problemForm.get('courrielGroup.courriel').touched ||
                        problemForm.get('courrielGroup.courriel').dirty) &&
                        problemForm.get('courrielGroup.courriel').valid,
                        'is-invalid': (problemForm.get('courrielGroup.courriel').touched ||
                        problemForm.get('courrielGroup.courriel').dirty) &&
                        !problemForm.get('courrielGroup.courriel').valid }" />
                            <span class="form-text" *ngIf="(problemForm.get('courrielGroup.courriel').touched ||
                        problemForm.get('courrielGroup.courriel').dirty) &&
                        (problemForm.get('courrielGroup.courriel').errors ||
                        problemForm.get('courrielGroup').errors)">
                                <span *ngIf="problemForm.get('courrielGroup.courriel').errors?.required">
                                    <small class="text-muted">
                                        Merci d'entrer votre adresse électronique.
                                    </small>
                                </span>
                                <span *ngIf="problemForm.get('courrielGroup.courriel').errors?.pattern">
                                    <small class="text-muted">
                                        S.V.P. entrer les informations dans un format valide.
                                    </small>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="courrielConfirmationId" class="col-sm-2 col-form-label">Confirmer
                            courriel :</label>
                        <div class="col-md-10" formGroupName="courrielGroup">
                            <input class="form-control" id="courrielConfirmationId" type="email"
                                placeholder="Entrez à nouveau le courriel (obligatoire si notification par courriel)"
                                formControlName="confirmerCourriel" [ngClass]="{'is-valid': (problemForm.get('courrielGroup.confirmerCourriel').touched ||
                        problemForm.get('courrielGroup.confirmerCourriel').dirty) &&
                        problemForm.get('courrielGroup.confirmerCourriel').valid,
                        'is-invalid': (problemForm.get('courrielGroup.confirmerCourriel').touched ||
                        problemForm.get('courrielGroup.confirmerCourriel').dirty) &&
                        !problemForm.get('courrielGroup.confirmerCourriel').valid ||
                        problemForm.get('courrielGroup').errors?.match}" />
                            <span class="form-text" *ngIf="(problemForm.get('courrielGroup.confirmerCourriel').touched ||
                        problemForm.get('courrielGroup.confirmerCourriel').dirty) &&
                        (problemForm.get('courrielGroup.confirmerCourriel').errors ||
                        problemForm.get('courrielGroup').errors)">
                                <span *ngIf="problemForm.get('courrielGroup.confirmerCourriel').errors?.required">
                                    <small class="text-muted">
                                        Confirmez votre adresse courriel (la réécrire)
                                    </small>
                                </span>
                                <span *ngIf="problemForm.get('courrielGroup').errors?.match">
                                    <small class="text-muted">
                                        Le courriel de confirmation n'est pas le même que le courriel. Le corriger.
                                    </small>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="noUniteId" class="col-sm-2 col-form-label"># Unité :</label>
                        <div class="col-md-10">
                            <input class="form-control" id="noUniteId" type="text"
                                placeholder="Numéro de l'unité si connu" formControlName="noUnite" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="descriptionProblemeId" class="col-sm-2 col-form-label">Description du
                            problème :</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" id="descriptionProblemeId" type="text"
                                placeholder="Décrire le propblème ici (obligatoire)"
                                formControlName="descriptionProbleme" [ngClass]="{'is-valid': (problemForm.get('descriptionProbleme').touched || problemForm.get('descriptionProbleme').dirty) &&
                    problemForm.get('descriptionProbleme').valid, 
                    'is-invalid': (problemForm.get('descriptionProbleme').touched || problemForm.get('descriptionProbleme').dirty) &&
                    !problemForm.get('descriptionProbleme').valid }"></textarea>
                            <span class="form-text" *ngIf="(problemForm.get('descriptionProbleme').touched || 
                    problemForm.get('descriptionProbleme').dirty) && 
                    problemForm.get('descriptionProbleme').errors">
                                <span *ngIf="problemForm.get('descriptionProbleme').errors.required">
                                    <small class="text-muted">
                                        N'oubliez pas de décriree le plus clairement possible le problème rencontré.
                                    </small>
                                </span>
                                <span *ngIf="problemForm.get('descriptionProbleme').errors.minlength">
                                    <small class="text-muted">
                                        La description du problème doit comporter plus de 5 caractères.
                                    </small>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="dateProblemeId" class="col-sm-2 col-form-label">Date :</label>
                        <div class="col-md-10">
                            <input class="form-control" id="dateProblemeId" type="text"
                                formControlName="dateProbleme" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <span>
                                <button class="btn btn-primary" type="submit" [disabled]="!problemForm.valid">
                                    <i class="fa fa-save"></i>
                                    &nbsp;&nbsp;Sauvegarder
                                </button>
                            </span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>